node_modules
.buildconfig
release-builds
flatpak-build
.flatpak-builder
zip-build
tools
nz.co.safesurfer.SafeSurfer-Desktop.AppDir
Safe_Surfer-x86_64.AppImage
deb-build
dist
parts
stage
prime
**/.snapcraft
safesurfer-desktop_*_*.snap
**/tags.*