node_modules
.buildconfig
release-builds
flatpak-build
.flatpak-builder
zip-build
tools
nz.co.safesurfer.SafeSurfer-Desktop.AppDir
*.AppImage
deb-build
dist
parts
stage
prime
**/.snapcraft
safesurfer-desktop_*_*.snap
**/tags.*
embedded.provisionprofile
support/linux/flatpak/generated-sources.json
support/linux/flatpak/flatpak-npm-generator.py
support/linux/flatpak/inline\ data
support/linux/flatpak/flatpak-build/**
support/linux/flatpak/.flatpak-builder
*.zip