[Unit]
Description=Background service for SafeSurfer
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root
ExecStart=/usr/bin/sscli service
Restart=on-abort

[Install]
WantedBy=multi-user.target
