[Desktop Entry]
Type=Application
Name=Safe Surfer
GenericName=Safe Surfer
Comment=Keep safe in the digitial surf
Exec=/usr/lib64/SafeSurfer-Desktop/SafeSurfer-Desktop
Icon=ss-logo
Terminal=false
Categories=Network;Monitor;
Name[en_US]=Safe Surfer