[Desktop Entry]
Type=Application
Name=Safe Surfer
GenericName=Safe Surfer
Comment=Keep safe in the digitial surf
Exec=pkexec env DISPLAY=$DISPLAY XAUTHORITY=$XAUTHORITY /opt/SafeSurfer-Desktop/SafeSurfer-Desktop
Icon=ss-logo
Terminal=false
Catergories=Utilities;
Name[en_US]=Safe Surfer
