[Desktop Entry]
Type=Application
Name=Safe Surfer
GenericName=Safe Surfer
Comment=Keep safe in the digitial surf
Exec=/opt/SafeSurfer-Desktop/SafeSurfer-Desktop
Icon=ss-logo
Terminal=false
Catergories=Utilities;
Name[en_US]=Safe Surfer

[Desktop Action Enable]
Name=Enable
Exec=pkexec sscli enable

[Desktop Action Disable]
Name=Disable
Exec=pkexec sscli disable
