Source: safesurfer-desktop
Section: utils
Priority: optional
Maintainer: Caleb Woodbine <calebwoodbine.public@gmail.com>
Build-Depends: debhelper (>= 9)
Homepage: http://safesurfer.co.nz

Package: safesurfer-desktop
Architecture: amd64
Depends: policykit-1, curl, libgconf2-4
Description: Keeping you safe in the digitial surf with Safe Surfer.
