.gradientBackground {
  height: 100%;
  width: 100%;
  top:0;
  bottom:0;
  left:0;
  right:0;
  position: absolute;
  z-index: -50;
  background: linear-gradient(94deg, #ffffff, #adf0ff, #ffffff, #d2ffb4, #e9d6ff);
  background-size: 1000% 1000%;

  -webkit-animation: AboutApp 150s ease infinite;
  -moz-animation: AboutApp 150s ease infinite;
  animation: AboutApp 150s ease infinite;
}

@-webkit-keyframes AboutApp {
  0%{background-position:0% 96%}
  50%{background-position:100% 5%}
  100%{background-position:0% 96%}
}
@-moz-keyframes AboutApp {
  0%{background-position:0% 96%}
  50%{background-position:100% 5%}
  100%{background-position:0% 96%}
}
@keyframes AboutApp {
  0%{background-position:0% 96%}
  50%{background-position:100% 5%}
  100%{background-position:0% 96%}
}

.descriptionText {
  font-family: 'Raleway', sans-serif;
  font-size: 1.7em;
  width: 100%;
  text-align: center;
  line-height: 1.2em;
  transition: font-size 0.7s;
}

.descriptionBox {
  height: auto;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 180px;
  padding-bottom: 10px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
  background-color: rgba(85, 83, 89, 0.25);
	overflow-x: hidden;
	overflow-y: auto;
	transition: padding-top 0.5s;
}

#ss-logo {
  width: 240px;
  height: 240px;
	transition: width 0.5s, height 0.5s;
}

.mainCenter_logo {
	margin: 0;
	position: absolute;
	top: 36%;
	left: 50%;
	transform: translate(-50%, -36%);
}

@media only screen and (max-width: 1099px) {
  .descriptionBox {
    padding-top: 120px;
  }

  .descriptionText {
	  font-size: 1.1em;
	  line-height: 1.2em;
  }

  #ss-logo {
    width: 200px;
    height: 200px;
  }

	.mainCenter_logo {
	  top: 55%;
	  transform: translate(-50%, -55%);
	}
}
