/* latin-ext */
@font-face {
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 400;
  src: local('BenchNine Regular'), local('./assets/fonts/BenchNine/BenchNine-Regular'), url(https://fonts.gstatic.com/s/benchnine/v6/ahcbv8612zF4jxrwMosbXsl0vU0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 400;
  src: local('BenchNine Regular'), local('./assets/fonts/BenchNine/BenchNine-Regular'), url(https://fonts.gstatic.com/s/benchnine/v6/ahcbv8612zF4jxrwMosbUMl0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Josefin Sans Bold'), local('./assets/fonts/Josefin_Sans/JosefinSans-Bold'), url(https://fonts.gstatic.com/s/josefinsans/v12/Qw3FZQNVED7rKGKxtqIqX5EctlltdF0hspo.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Josefin Sans Bold'), local('./assets/fonts/Josefin_Sans/JosefinSans-Bold'), url(https://fonts.gstatic.com/s/josefinsans/v12/Qw3FZQNVED7rKGKxtqIqX5EctlltdV0hspo.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Josefin Sans Bold'), local('./assets/fonts/Josefin_Sans/JosefinSans-Bold'), url(https://fonts.gstatic.com/s/josefinsans/v12/Qw3FZQNVED7rKGKxtqIqX5Ectllte10h.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('./assets/fonts/Raleway/Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyCMIT5lu.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('./assets/fonts/Raleway/Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
	color: white;
}

body, html {
	overflow-x: hidden;
	overflow-y: hidden;
}

.bigText, .bigText_white, .subText, .bigText_init {
	text-align: center;
}

.bigText, .bigText_white, .bigText_init {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 4.9em;
	color: #fff600;
	white-space: nowrap;
	line-height: 80px;
  transition: line-height 0.4s, font-size 0.2s, color 0.3s;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-top: 30px;
  margin-top: 20px;
}

.bigText_white {
	color: white;
}

.bigText_init {
	font-size: 6em;
}

.bigText_init:hover {
	color: #fff600;
}

.bigText_nointernet {
	font-size: 4em;
	white-space: normal;
	line-height: 100px;
	transition: line-height 0.4s, font-size 0.2s;
}

.subText {
	font-family: 'Raleway', sans-serif;
	font-size: 2.7em;
	white-space: nowrap;
	text-shadow: 1px 1px 50px #000000;
  transition: line-height 0.4s, font-size 0.2s, color 0.3s;
}

.serviceActiveScreen {
	height: 100%;
	width: 100%;
	top:0;
	bottom:0;
	left:0;
	right:0;
	position: absolute;
	z-index: -50;

	background-image: linear-gradient(to right, #052860, #00a7d6, #0b2c72, #6dd0ed);
	background-size: 600% 600%;
}

@-webkit-keyframes activeScroll {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@-moz-keyframes activeScroll {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@keyframes activeScroll {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}

.serviceInactiveScreen {
	height: 100%;
	width: 100%;
	top:0;
	bottom:0;
	left:0;
	right:0;
	position: absolute;
	z-index: -50;

	background-image: linear-gradient(to right, #000000, #b51014, #a51317, #a02200);
	background-size: 600% 600%;
}

@-webkit-keyframes inactiveScroll {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@-moz-keyframes inactiveScroll {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@keyframes inactiveScroll {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}

.topTextFrame {
	line-height: 10px;
}

.appLoadingScreen {
	background-color: white;
	height: 100%;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	z-index: -50;
}

.mainCenter {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%
}

.mainCenter_down {
	margin: 0;
	position: absolute;
	top: 95%;
	left: 50%;
	transform: translate(-50%, -95%);
}

.mainCenter_halfDown {
	margin: 0;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -70%);
}

.mainCenter_midDown {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.mainCenter_init {
	margin: 0;
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -90%);
}

.mainCenter_top {
	margin: 0;
	position: absolute;
	top: 0%;
	left: 50%;
	transform: translate(-50%, 0%);
}

.mainCenter_left {
	margin: 0;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}

.leftCenter {
	margin: 0;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}

.serviceToggle {
	white-space: nowrap;
	background-color: #fff600;
	border-radius: 0px;
	border: 0.5px solid #fff600;
	display: inline-block;
	cursor: pointer;
	color: #d12d00;
	font-family: 'BenchNine', sans-serif;
	font-size: 68px;
	font-weight: bold;
	padding: 2px 5px;
	text-decoration: none;
	z-index: 50;
  box-shadow: 14px 10px 90px -4px rgba(0,0,0,0.75);
  transition: font-size 0.4s, color 0.2s, background-color 0.2s, transform 0.3s, text-shadow 0.3s;
  transform-style: preserve-3d;
}
.serviceToggle:hover {
	background-color:#d12d00;
	color: #fff600;
	text-shadow: 2px 2px 8px black;
}
.serviceToggle:active {
	font-size: 58.8px;
	background-color: #931f00;
	color: #bcb605;
}

.serviceToggle_lifeguard {
	white-space: nowrap;
}

.no-wrap {
	overflow-wrap: break-word;
	display: table-cell;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 5em;
}

.serviceAppStatus {
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	padding: -20px;
	height: 20px;
	position: absolute;
	clear: both;
	display: none;
}

.serviceAppStatus h1 {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	background-color: #184896;
}

.topTextBox_inactive, .topTextBox_active {
  display: grid;
  grid-template-rows: 60% 40%;
}

.topTextBox, .topTextBox_active, .topTextBox_inactive {
	width: 100%;
	height: auto;
	top:0;
	left:0;
	right:0;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	-webkit-transition: height 0.3s;
  transition: height 0.3s;
  min-height: 260px;
}

.topTextBox_active {
	background: rgba(6, 103, 130, 0.55);
}

.topTextBox_inactive {
	background: rgba(165, 38, 41, 0.70);
}

.appNoInternetConnectionScreen {
	height: 100%;
	width: 100%;
	top:0;
	bottom:0;
	left:0;
	right:0;
	position: absolute;
	background: linear-gradient(270deg, #ffffff, #c6c3c3, #90ffd9, #d9a5a5);
	background-size: 800% 800%;

	-webkit-animation: noInternetGradient 30s ease infinite;
	-moz-animation: noInternetGradient 30s ease infinite;
	animation: noInternetGradient 30s ease infinite;

}
@-webkit-keyframes noInternetGradient {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@-moz-keyframes noInternetGradient {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@keyframes noInternetGradient {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}

*, *::after, *::before {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
	cursor: default;
}

#progressBar {
  height: 0px;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 39;
	position: absolute;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
	-webkit-transition: height 0.8s;
  transition: height 0.8s;

  background: linear-gradient(89deg, #3fb23e, #d2d2d2, #60d4a1, #cecece);
  background-size: 800% 800%;
	-webkit-transition: height 0.8s;
  transition: height 0.8s;

  -webkit-animation: activeProgressBar 5s ease infinite;
  -moz-animation: activeProgressBar 5s ease infinite;
  animation: activeProgressBar 5s ease infinite;
}

@-webkit-keyframes activeProgressBar {
  0%{background-position:0% 49%}
  50%{background-position:100% 52%}
  100%{background-position:0% 49%}
}
@-moz-keyframes activeProgressBar {
  0%{background-position:0% 49%}
  50%{background-position:100% 52%}
  100%{background-position:0% 49%}
}
@keyframes activeProgressBar {
  0%{background-position:0% 49%}
  50%{background-position:100% 52%}
  100%{background-position:0% 49%}
}

#privBar, .progressInfoBar {
  height: 0px;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 39;
	position: absolute;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: height 0.8s;
  background-color: #d9d9d9;
	overflow: hidden;
}

#privBarText, #privBarText_error, .progressInfoBar_text {
  color: black;
  text-align: center;
	font-family: 'Raleway', sans-serif;
}

.progressInfoBar_text {
  margin-top: 6px;
}

#privBarText_error {
  font-weight: bold;
	background-color: #e5e6e5;
	border-radius: 5px;
	border: 1px solid black;
	display: inline-block;
	cursor: pointer;
	color: black;
	font-size: 15px;
	padding: 9px 23px;
	text-decoration: none;
	position: relative;
	margin-top: 5px;
}

#privBarText_error:hover {
	color: black;
	background-color: #c8c9cb;
}

#privBarText_error:active {
	background-color: #a9a9aa;
	top:1px;
}

@media only screen and (max-width: 1099px) {
	.subText {
		font-size: 1.5em;
	}
	.bigText, .bigText_white, .subText {
		white-space: normal;
	}
	.bigText, .bigText_white {
		line-height: 80px;
		font-size: 4em;
	}
	.bigText_init {
	  font-size: 4em;
	}
	.topTextBox {
		height: 550px;
		padding-top: 1000px;
	}

	.topTextBox, .topTextBox_inactive {
		min-height: 320px;
	}

	.topTextBox_active {
		min-height: 300px;
	}

	.topTextBox_active_lifeguard {
		min-height: 390px;
	}

	.mainCenter_halfDown {
		top: 87%;
		transform: translate(-50%, -87%);
	}

	.mainCenter_midDown {
	  top: 65%;
	  transform: translate(-50%, -65%);
	}

	.mainCenter_init {
		top: 87%
		transform: translate(-50%, -87%);
	}

	.serviceToggle {
		font-size: 45px;
	}
	.serviceToggle:hover {
		font-size: 41.5px;
	}
	.serviceToggle:active {
		font-size: 38.8px;
	}
	.topTextBox_inactive {
	  background: linear-gradient(rgba(165, 38, 41, 0.55), rgba(0, 0, 0, 0.40));
	}

	#progressBar, #privBar, .progressInfoBar {
	  margin-left: 0%;
	  margin-right: 0%;
	  width: 100%;
	}
}
